<div class="container">
  <div class="row">

    <div class=" col-md-12 col-lg-12">
      <div class="alert alert-success" role="alert">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{clickDe.id}}</td>
              <td>{{clickDe.name}}</td>
              <td>{{clickDe.price}}</td>
              <td>{{clickDe.status ? 'ok man' : 'gg man'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
